body {
  margin: 0;
  border-top: 6px solid tomato;
  height: 100vh;
  width: 100vw;
  /* background-color: darkslategrey; */
  color: darkslategrey;
  overflow:hidden;
}

#interface {
  height: calc(100% - 6px);
  top: 6px;
  position: relative;
}

svg#landscape {
  cursor: grab;
  opacity: 1;
  transition: opacity 1s ease;
}

svg#landscape.hidden {
  opacity: 1e-16;
  transition: opacity 1s ease;
}

svg:active {
  cursor: grabbing;
}

.node {
  cursor: pointer;
}
.node .label {
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  font-family: sans-serif;
}

.node circle {
  /* shape-rendering: optimizeSpeed; */
}
.node:hover circle {
  /* fill:white; */
}
.node:hover .label {
  opacity: 1;
}
.g-circles {

}
.g-circles circle {

}

._btn {
  cursor: pointer;
  font-style: italic;
}

.verbose-options-selector span {
  border-bottom: 1px solid red;
}

#timeline-container {
  height: 0;
  bottom: 0;
  background: #f2f4f5;
  transition: all 0.35s ease;
  overflow: hidden;
  border-top: black 1px solid;
  opacity: 0;
  padding: 0 3rem;
}

.timeline-visible #timeline-container {
  height: 20vh;
  opacity: 1;
}

#timeline {
  width: calc(100% - 3rem);
}

#timeline .selection {
  fill: rgba(255, 255, 255, 0.75);
  /* fill: var(--main-bg-color); */
  fill-opacity: 1;
}

#timeline .handle {
  fill: black;
  opacity: 1;
  stroke: none;
  stroke-width: 2px;
}

.toggle-timeline._close {
  position: absolute;
  top: 1rem;
  margin-left: 1rem;
}

.toggle-legend {
  position: relative;
  transition: all 0.35s ease;
}

.timeline-visible .toggle-legend {
  bottom: 20vh;
}

.axis--x .tick:first-of-type, .axis--x .tick:last-of-type {
  display: none;
}


.scrollitelling-box {
  background-color: rgba(255,255,255,0.85);
  width: 35vw;
  right: -35vw;
  top: 6px;
  height: calc(100vh - 6px);
  overflow-x: hidden;
  overflow-y: visible;
  padding: 1rem 2rem;
  transition: right 0.35s ease;
}

.scrollitelling-box.scrollitelling-visible {
  right: 0px;
}

.scrollitelling {
  /* background-color: pink; */
}

#skip-tutorial{
  position: sticky;
  top: 0;
  text-align: right;
}

.step-scrollitelling {
  margin-bottom: 50vh;
}

.st-box {
    border: 2px solid var(--calvino-red);
    border-radius: 3px;
    color: var(--calvino-red);
    padding: 1rem;
    box-shadow: 0px 1px 6px var(--calvino-red);
    background-color: transparent;
    margin: 1rem 0;
}
