:root {
  --main-bg-color: #EFEBE9;
}

body {
  margin: 0;
  border-top: 6px solid tomato;
  height: 100vh;
}

#interface {
  height: calc(100% - 6px);
}

svg#landscape {
  cursor: grab;
}

svg:active {
  cursor: grabbing;
}

.node {
  cursor: pointer;
}
.node .label {
  opacity: 0;
  transition: opacity .5s;
  pointer-events: none;
  font-family: sans-serif;
}

.node circle {
  /* shape-rendering: optimizeSpeed; */
}
.node:hover circle {
  /* fill:white; */
}
.node:hover .label {
  opacity: 1;
}
.g-circles {

}
.g-circles circle {

}

._btn {
  cursor: pointer;
  font-style: italic;
}

.verbose-options-selector span {
  border-bottom: 1px solid red;
}

#timeline-container {
  height: 0;
  bottom: 0;
  background: var(--main-bg-color);
  transition: all 0.35s ease;
  overflow: hidden;
  border-top: black 1px solid;
  opacity: 0;
}

#timeline-container.visible {
  height: 20vh;
  opacity: 1;
}
