@import "fonts/hk-grotesk/webfont.css";

html {
	font-size: 14px;
}

body {
   font-family: 'hk-grotesk';
   font-weight: normal;
   font-style: normal;
	 font-size: 1rem;
}

#gantt line {
	stroke: black;
	/* stroke-width: 1px; */
}

#gantt svg {
	/* background-color: #F8F9F9; */
}

g.group .bg {
	fill: #F4F6F7;
}

g.group .title {
	text-anchor: end;
}

g.group .line {
	stroke: black;
	stroke-width: 0.5px;
}

g.group.composite .title {
	font-weight: bold;
}

g.group .span1 {
	fill: #F5B7B1;
}

g.group .span2 {
	fill: #E74C3C;
}

g.group .publication {
	fill: none;
	stroke: #273746;
}



#brush svg {
	/*background-color: #D6DBDF;*/
}

.area {
	fill: #FF5733;
	clip-path: url(#clip);
	}

.zoom {
	cursor: move;
	fill: none;
	pointer-events: all;
	}

p {
	color: #FF5733;
	font-family: "helvetica", 'sans-serif';
	text-align: left;
	font-weight: 700;
	float: right;
	margin-right: 20px;
	}
