@import "fonts/hk-grotesk/webfont.css";
html {
  font-size: 14px;
}

body {
  font-family: 'hk-grotesk';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

#brush svg {
  /*background-color: #D6DBDF;*/
}

.area {
  fill: #FF5733;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

p {
  color: #FF5733;
  font-family: "helvetica", 'sans-serif';
  text-align: left;
  font-weight: 700;
  float: right;
  margin-right: 20px;
}

/* #gantt line {
  stroke: black;
  /* stroke-width: 1px; */
} */

#gantt svg {
  /* background-color: #F8F9F9; */
}

g.group .bg {
  fill: #FDEDEC;
}

g.group .title {
  text-anchor: end;
}

#gantt .line {
  stroke: #273746;
  stroke-width: 0.5px;
}

#gantt .subGroup .line {
  stroke: #808B96;
}

g.group.composite .title {
  font-weight: bold;
}

g.group .span1 {
  fill: #808B96;
}

g.group .span2 {
  fill: #2C3E50;
}

g.group.composite .span1 {
  fill: #F5B7B1;
}

g.group.composite .span2 {
  fill: #E74C3C;
}

.publication {
  fill: #273746;
	stroke: white;
	stroke-width: 1px;
	cursor: pointer;
}
.publication.not-first {
  fill: transparent;
	stroke: #273746;
	stroke-width: 1px;
}

g.group.composite .publication {
  fill: #E74C3C;
	stroke: white;
	stroke-width: 1px;
}

g.group .triangle {
  fill: #273746;
  stroke-linejoin: bevel;
  stroke-width: 7px;
  stroke: white;
	cursor: pointer;
}

g.subGroup .title {
	text-anchor: end;
	font-size: 0.75rem;
}

g.subGroup .writing {
	stroke: #1C2833;
	stroke-width: 1px;
}

g.subGroup.precise .writing {
	stroke-width:2px;
}

.termination {
	fill: none;
	stroke: red;
	stroke-width: 1px;
}

.termination.year-precision {
	stroke: black;
}
.termination.month-precision {
	stroke: #fffbfb;
	stroke-width: 1px;
	stroke-dasharray: 2 2;
}
.termination.day-precision {
	stroke: black;
	stroke-width: 2px;
}

#time-scale svg {
  background-color: rgba(255,255,255,.8)
}

.axis path, .axis line {
  stroke-width: 0.5px
}

.axis .tick text {
  font-size: 1rem
}
