@import "fonts/hk/stylesheet.css";
@import "fonts/crimson/stylesheet.css";

html {
  font-size: 16px;
}

/* @media only screen and (min-width: 576px) {
  html {
    font-size: 16px;
  }
} */

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* @media only screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
} */

@media only screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}

/* @media only screen and (min-width: 1400px) {
  html {
    font-size: 21px;
  }
} */

body {
  background-color: #fffefa;
  color:#212529;
  font-family: 'Crimson Text';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

h1 {
  font-family: 'Crimson Text';
  color: darkslategrey;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: tomato;
}

.caption {
  font-size: 0.75rem;
  font-family: 'HK Grotesk'
}

@media only screen and (min-width: 768px) {
  .caption {
    font-size: 0.60rem;
  }
}

.info {
  background-color: #ffffffcc;
}

.lische-box {
  max-width: calc(100% - 60px);
}

@media (min-width: 1600px) {
  .lische-box {
      max-width: 1540px;
  }
}

.lische {
    -webkit-box-shadow: 0px 0px 7px 0px #fbe1b6;
        -ms-box-shadow: 0px 0px 7px 0px #fbe1b6;
            box-shadow: 0px 0px 7px 0px #fbe1b6;
    background-color: white;
    margin: auto;
}

g.stories>g,
g.magazines>g,
g.collections>g,
g.collections-labels>g {
  cursor: pointer;
}

@media (max-width: 991px) {
    .lische-box {
        width:100%;
        max-width: inherit;
    }
}
