@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
@import "../assets/fonts/hk-grotesk/webfont.css";

html {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #fffcf5;
  font-family: 'hk-grotesk';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

.info {
  background-color: #ffffffcc;
}

.lische {
    -webkit-box-shadow: 0 0 7px 0px #fbe1b6;
            box-shadow: 0 0 7px 0px #fbe1b6;
    background-color: white;
    max-width: 1200px;
    margin: auto;
}

g.stories>g,
g.magazines>g,
g.collections>g,
g.collections-labels>g {
  cursor: pointer;
}

@media (max-width: 991px) {
    .lische-box {
        width:100%;
        max-width: inherit;
    }

    .lische {
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
