@import "../assets/fonts/hk/stylesheet.css";
@import "../assets/fonts/crimson/stylesheet.css";

html {
  font-size: 16px;
  --c-bg: #fffefa;
  --c-romanzo: #0490ca;
  --c-racconti: #ed7f62;
  --c-ibrido: #f2d371;
  --c-riscritture: #707e84;
  --c-racconti-protagonista: #eb9d69;
  --c-racconti-cornice: #00b79e;
  --c-saggi: #9d80bb;
  --c-postumi: #566573;
  --c-text: #212529;
}

body {
  color: var(--c-text);
  font-family: 'Crimson Text';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  background-color: var(--c-bg);
}

p {
  font-size: .8rem;
}

.sticky-from-top {
  top: -40px;
}

#visualisation-container {
  -webkit-box-shadow: 0px 0px 7px 0px #fbe1b6;
  -ms-box-shadow: 0px 0px 7px 0px #fbe1b6;
  box-shadow: 0px 0px 7px 0px #fbe1b6;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: -40px;
}

/* visualisation */
svg#visualisation {}

.legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  height: 1.8rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2rem;
  z-index: 10000;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.legend .legend-content {
  display: grid;
  grid-template-columns: repeat(3, 17%);
  grid-template-rows: 1.5rem 1.1rem 3.8rem 3.8rem 3.8rem 1.1rem 1.5rem 1.1rem;
  grid-row-gap: 1%;
  height: 1.5rem;
  width: 100%;
  transition: height .35s ease;
  overflow: hidden;
  background-color: var(--c-bg);
  box-shadow: 0px 12px 15px -10px #fbe1b6;
  grid-column-gap: 24.5%;
}

.legend.open .legend-content {
  height: 50vh;
  overflow: visible;
}

#legend-button {
  /* content: '\2193'; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.3rem;
  height: 1.3rem;
  /* background-color: white; */
  border-radius: 3px;
  /* box-shadow: 0px 0px 7px 0px #fbe1b6; */
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10000;
  margin-top: 0.2rem;
  position: absolute;
  right: 0;
}

#legend-button::before {
  content: '';
  display: block;
  background-color: var(--c-text);
  height: 2px;
  position: relative;
  left: 1px;
  width: 32%;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

#legend-button::after {
  content: '';
  display: block;
  background-color: var(--c-text);
  height: 2px;
  position: relative;
  right: 1px;
  width: 32%;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.legend.open #legend-button::before {
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.legend.open #legend-button::after {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.legend h4 {
  font-family: 'HK Grotesk';
  font-size: .75rem;
  line-height: 1.5rem;
  text-align: center;
  grid-column: span 3;
  margin: 0;
}

.legend h5 {
  font-family: 'HK Grotesk';
  font-size: .6rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  grid-column: span 3;
  margin: 0;
}

.legend h6 {
  font-family: 'HK Grotesk';
  font-size: .45rem;
  margin-bottom:0.1rem;
  text-align: center;
  width: 300%;
  margin-left: -100%;
  margin-top: 0.3rem;
}

.legend-item {
  /* width: 20%; */
  /* height: 20%; */
  /* background-color: #f7f7f7; */
}

.legend-circle {
  background: white;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 0;
  display: block;
  border-radius: 50%;
  padding-bottom: calc(100% - 2px);
}

.legend-article-circle {
  background: transparent;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 30%;
  height: 0;
  display: block;
  border-radius: 50%;
  margin:auto;
  padding-bottom: calc(30% - 4px);
}

.work-title {
  font-style: italic;
  display: inline;
  border: 1px solid;
  border-radius: 4px;
  padding: 0px 3.5px;
}

.label {
  font-size: .53rem;
  text-anchor: middle;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.3px;
}

.label.small {
  font-size: .48rem;
}

.label.character {
  font-size: .56rem;
  font-family: 'HK Grotesk';
  font-style: normal;
  text-anchor: middle;
}

.label.white-shadow {
  stroke: white;
  stroke-width: 0.125rem;
  fill: white;
  stroke-linejoin: round;
}

.info {
  font-family: 'HK Grotesk';
  font-size: .5rem;
  font-weight: 400;
}

.year {
  font-size: .5rem;
}

.guide-line, .thread {
  fill: none;
  stroke: #2E4053;
  stroke-width: 1px;
}

.decade-arc {
  stroke-dasharray: 0 2;
  /* -webkit-animation-name: arcs-direction;
  animation-name: arcs-direction; */
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  stroke-linecap: round;
}

.decade-arc.start {
  marker-end: url(#arrow-head-big);
}

.decade-arc.end {}

.previous-publication {
  fill: none;
  stroke: #5D6D7E;
  stroke-width: 1px;
  stroke-dasharray: 5 4;
  marker-end: url(#arrow-head);
}

.article {
  stroke: #566573;
  /* opacity: .35; */
  fill: #D6DBDF;
  stroke-width: .5px;
  -webkit-transition: r 2s;
  transition: r 2s;
  -webkit-animation-name: fade-in-radius;
  animation-name: fade-in-radius;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.article.ghost-node {
  fill: none;
  stroke: none;
}

.work circle.in-focus {
  -webkit-animation-name: in-focus;
  animation-name: in-focus;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.work circle.unfinished {
  stroke-dasharray: 2 2;
}

.work circle.posthumous {
  /* fill: #5D6D7E; */
}

/* Other */
.hidden {
  display: none;
}

.scrollytelling-container {
  /* padding-top: 50vh;
  padding-bottom: 50vh; */
  z-index: 1050;
}

.decade-txt {}

.intro {
  margin-bottom: 25vh;
}

.item, .non-item {
  margin-bottom: 65vh;
  /* opacity: .35; */
}

.item {
  background-color: rgba(255, 254, 250, 0.8);
  padding: 0.8rem;
  border-radius: 4px;
}

.item p:last-child {
  margin-bottom: 0;
}

.item-focus {
  margin-bottom: 25vh;
}

@-webkit-keyframes arcs-direction {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -9;
  }
}

@keyframes arcs-direction {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -9;
  }
}

@-webkit-keyframes fade-in-radius {
  from {
    r: 0;
  }

  to {
    r: 4;
  }
}

@keyframes fade-in-radius {
  from {
    r: 0;
  }

  to {
    r: auto;
  }
}

@-webkit-keyframes in-focus {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  12.5% {
    -webkit-transform: translate(-1.25px, -2.5px);
    transform: translate(-1.25px, -2.5px);
  }

  25% {
    -webkit-transform: translate(-2.5px, 0);
    transform: translate(-2.5px, 0);
  }

  37.5% {
    -webkit-transform: translate(-1.25px, 2.5px);
    transform: translate(-1.25px, 2.5px);
  }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  62.5% {
    -webkit-transform: translate(1.25px, -2.5px);
    transform: translate(1.25px, -2.5px);
  }

  75% {
    -webkit-transform: translate(2.5px, 0);
    transform: translate(2.5px, 0);
  }

  87.5% {
    -webkit-transform: translate(1.25px, 2.5px);
    transform: translate(1.25px, 2.5px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes in-focus {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  12.5% {
    -webkit-transform: translate(-1.25px, -2.5px);
    transform: translate(-1.25px, -2.5px);
  }

  25% {
    -webkit-transform: translate(-2.5px, 0);
    transform: translate(-2.5px, 0);
  }

  37.5% {
    -webkit-transform: translate(-1.25px, 2.5px);
    transform: translate(-1.25px, 2.5px);
  }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  62.5% {
    -webkit-transform: translate(1.25px, -2.5px);
    transform: translate(1.25px, -2.5px);
  }

  75% {
    -webkit-transform: translate(2.5px, 0);
    transform: translate(2.5px, 0);
  }

  87.5% {
    -webkit-transform: translate(1.25px, 2.5px);
    transform: translate(1.25px, 2.5px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }

  .label {
    font-size: .6rem;
  }

  .label.small {
    font-size: .55rem;
  }
}

@media screen and (min-width: 992px) {
  #visualisation-container {
    position: relative;
    top: 0;
  }

  .item {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  .item p:last-child {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}
