html {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 21px;
  }
}

/* visualisation */

svg#visualisation {
  background-color: #fffefa;
}

.label {
  font-size: .65rem;
  text-anchor: middle;
}

.year {
  font-size: .5rem;
}

.guide-line {
  fill: none;
  stroke: black;
  stroke-width: .5px;
}

.decade-arc {
  stroke-width: 1px;
  stroke-dasharray: 0 3;
  -webkit-animation-name: arcs-direction;
          animation-name: arcs-direction;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  stroke-linecap: round;
}

.previous-publication {
  fill: none;
  stroke: black;
  stroke-width: .5px;
  stroke-dasharray: 2 3;
}

.article {
  fill: #fff;
  stroke: #000;
  stroke-width: .5px;
}

.article.ghost-node {
  fill: none;
  stroke: none;
}

/* Other */

.scrollytelling-container {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.decade-txt {}

.intro {
  padding-bottom: 25vh;
}

.item {
  padding-bottom: 25vh;
  /* opacity: .35; */
}

@-webkit-keyframes arcs-direction {
    from {stroke-dashoffset: 0;}
    to {stroke-dashoffset: -9;}
}

@keyframes arcs-direction {
    from {stroke-dashoffset: 0;}
    to {stroke-dashoffset: -9;}
}
