svg#visualisation {
  background-color: #fffefa;
}

.guide-line {
  fill: none;
  stroke: black;
  stroke-width: .5px;
}

.decade-arc {
  stroke-width: 1px;
  stroke-dasharray: 0 3;
  animation-name: arcs-direction;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  stroke-linecap: round;
}

.scrollytelling-container {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.decade-txt {}

.intro {
  padding-bottom: 25vh;
}

.item {
  padding-bottom: 25vh;
  /* opacity: .35; */
}

@keyframes arcs-direction {
    from {stroke-dashoffset: 0;}
    to {stroke-dashoffset: -9;}
}
