#matrix-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.label {
    font-size: 0.8rem;
    font-family: 'HK Grotesk';
    display: none;
    pointer-events: none;
}

.node {
}

.link {
    stroke-width: 0.5px;
    stroke: #999;
}
