#matrix-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  touch-action: manipulation;
}

.node {}

.label {
    font-size: 0.8rem;
    font-family: 'HK Grotesk';
    pointer-events: none;
}

.link {}

.link.part-of {
    stroke-width: 0.5px;
    stroke: #999;
}

.reset {}
