@import "../assets/fonts/hk-grotesk/webfont.css";
:root {
  --darker: #273746;
  --red: #EC634A;
  --red-light: #f4a191;
  --greenish: #2F4F4F;
  --greenish-light: #BFBFBF;
}

html {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'hk-grotesk';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

#brush svg {
  /* background-color: #D5F5E3; */
  display: block;
}

#gantt svg {
  /* background-color: #D6DBDF99; */
  display: block;
}

#timeline svg {
  /* background-color: #D6EAF8; */
  display: block;
}

#brush, #timeline {
  background-color: #ffffffdd;
  /* border: 1px solid black; */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* .area {
  fill: #FF5733;
  -webkit-clip-path: url(#clip);
          clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
} */

p {
  color: #FF5733;
  font-family: "helvetica", 'sans-serif';
  text-align: left;
  font-weight: 700;
  float: right;
  margin-right: 20px;
}

/* Brush */

.brush .selection {
  fill: var(--darker);
}

/* Gantt */

.pannable {
  /* cursor: -webkit-grab;
  cursor: grab; */
  opacity: 0.02;
}

.triangle {
  fill: var(--darker);
  stroke-width: 10px;
  stroke: transparent;
  cursor: pointer;
}

.triangle.expanded {
  fill: purple;
}

.baseline {
  stroke: var(--darker);
  stroke-width: 0.5px;
}

.story .baseline {
  opacity: .5;
}

.publication {
  fill: transparent;
  stroke: var(--darker);
  stroke-width: 0.5px;
  cursor: pointer;
}

.publication:first-of-type {
  fill: var(--darker);
}

.uncertain {
  fill: var(--greenish-light);
}

.certain {
  fill: var(--greenish);
}

.composite .uncertain {fill: var(--red-light);}

.composite .certain {fill: var(--red);}

.span {
  stroke: var(--red-light);
  stroke-width: 1px;
}

.span.precise {
  stroke: var(--red);
}

.end, .start {
  stroke: var(--red-light);
  stroke-width: 1px;
  fill: transparent;
  /* opacity: .5; */
}

.end.precise, .start.precise {
  stroke: var(--red);
  stroke-width: 1.5px;
  shape-rendering: crispedges;
  /* opacity: 1; */
}

.title {
  text-anchor: start;
  font-size: 1rem;
}

.story-label {
  text-anchor: start;
  font-size: 0.75rem;
}


#gantt .subGroup .line {
  stroke: #808B96;
}

g.group .span1 {
  fill: #808B96;
}

g.group .span2 {
  fill: #2C3E50;
}

g.group.composite .span1 {
  fill: #F5B7B1;
}

g.group.composite .span2 {
  fill: #E74C3C;
}

/* .publication {
  fill: #273746;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
} */

/* .publication.not-first {
  fill: transparent;
  stroke: #273746;
  stroke-width: 1px;
} */

g.group.composite .publication {
  fill: #E74C3C;
  stroke: white;
  stroke-width: 1px;
}

/* g.group .triangle.expanded {
  fill: red;
} */

g.subGroup .writing {
  stroke: #1C2833;
  stroke-width: 1px;
}

g.subGroup.precise .writing {
  stroke-width: 2px;
}

.termination {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.termination.year-precision {
  stroke: black;
}

.termination.month-precision {
  stroke: #fffbfb;
  stroke-width: 1px;
  stroke-dasharray: 2 2;
}

.termination.day-precision {
  stroke: black;
  stroke-width: 2px;
}

.axis path, .axis line {
  stroke-width: 0.5px
}

.axis .tick text {
  font-size: 1rem
}
