@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i');
@import "../assets/fonts/hk-grotesk/webfont.css";
:root {
  --darker: #273746;
  --red: #EC634A;
  --red-light: #f4a191;
  --greenish: #2F4F4F;
  --greenish-light: #BFBFBF;
}

html {
  font-size: 10px;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'hk-grotesk';
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

.navbar .navbar-brand {
  color: var(--red);
}

h3 {
  font-size: 2.6rem;
  text-transform: uppercase;
}

#brush {
  border-bottom: 1px var(--red) solid;
}

#brush svg {
  display: block;
}

#gantt svg {
  /* background-color: #D6DBDF99; */
  display: block;
}

#timeline svg {
  /* background-color: #D6EAF8; */
  display: block;
}

#brush, #timeline {
  background-color: #ffffffdd;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.gantt-info {
  display: block;
  border-bottom: 0.5px var(--darker) solid;
}

.brush-info {
  display: block;
}

/* Brush */

.brush .selection {
  fill: var(--darker);
}

/* Gantt */

.pannable {
  cursor: -webkit-grab;
  cursor: grab;
  opacity: 0.0;
}

.pannable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.triangle {
  fill: var(--darker);
  stroke-width: 10px;
  stroke: transparent;
  cursor: pointer;
}

.baseline {
  stroke: var(--darker);
  stroke-width: 0.5px;
}

.story .baseline {
  opacity: .5;
}

.volume > .publication, .story > .publication {
  fill: transparent;
  stroke: var(--darker);
  stroke-width: 2px;
  stroke-linejoin: bevel;
  cursor: pointer;
}

.volume > .publication ~ .publication, .story > .publication ~ .publication {
  stroke-width: 1px;
}

.publication.not-precise {
  opacity: .5;
}

.uncertain {
  fill: var(--greenish-light);
  rx: 2px;
  ry: 2px;
}

.certain {
  fill: var(--greenish);
  rx: 2px;
  ry: 2px;
}

.composite .uncertain {
  fill: var(--red-light);
}

.composite .certain {
  fill: var(--red);
}

.span {
  stroke: var(--red-light);
  stroke-width: 1px;
}

.span.precise {
  stroke: var(--red);
}

.end, .start {
  stroke: var(--red-light);
  stroke-width: 1px;
  fill: transparent;
  /* opacity: .5; */
}

.end.precise, .start.precise {
  stroke: var(--red);
  stroke-width: 1.5px;
  shape-rendering: crispedges;
  /* opacity: 1; */
}

.title {
  text-anchor: start;
  font-size: 1rem;
}

.story-label {
  text-anchor: start;
  font-size: 0.75rem;
}

#gantt .subGroup .line {
  stroke: #808B96;
}

g.group .span1 {
  fill: #808B96;
}

g.group .span2 {
  fill: #2C3E50;
}

g.group.composite .span1 {
  fill: #F5B7B1;
}

g.group.composite .span2 {
  fill: #E74C3C;
}

/* .publication {
  fill: #273746;
  stroke: white;
  stroke-width: 1px;
  cursor: pointer;
} */

/* .publication.not-first {
  fill: transparent;
  stroke: #273746;
  stroke-width: 1px;
} */

g.group.composite .publication {
  fill: #E74C3C;
  stroke: white;
  stroke-width: 1px;
}

/* g.group .triangle.expanded {
  fill: red;
} */

g.subGroup .writing {
  stroke: #1C2833;
  stroke-width: 1px;
}

g.subGroup.precise .writing {
  stroke-width: 2px;
}

.termination {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.termination.year-precision {
  stroke: black;
}

.termination.month-precision {
  stroke: #fffbfb;
  stroke-width: 1px;
  stroke-dasharray: 2 2;
}

.termination.day-precision {
  stroke: black;
  stroke-width: 2px;
}

.axis path, .axis line {
  stroke-width: 0.5px
}

.axis .tick text {
  font-size: 1rem
}

/* tooltip */

.date-tooltip {
  text-anchor: middle;
  font-size: 0.9rem;
  font-weight: bold;
}

line.selected-date-line {
  stroke: #a6a6a6;
  stroke-width: .5px;
  stroke-dasharray: 3 4;
}

/* legend */

.legend-content .span {
  display: block;
  width: 100%;
  height: 15px;
  background-color: #dadada;
}

.legend-content .span.uncertain {
  background-color: var(--red-light);
}

.legend-content .span.certain {
  background-color: var(--red);
}

.legend-content p {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
}
